h1 {
    color: #484848;
    font-size: 48px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;    
}
h1 span {
    transition: .8s linear;
}
h1:hover span:nth-child(1){
    margin-right: 5px;
}  
h1:hover span:nth-child(2){
    margin-right: 30px;
}  
h1:hover span:nth-child(1):after{
    content: "i";
}
h1:hover span:nth-child(2):after{
    content: "students";
}
h1:hover span {
    color: #fff;
    text-shadow: 
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff;
}
.aprobado{
color: rgb(25, 175, 25);

}
.aprobado:hover {
    cursor: default;
    
    color: rgb(25, 175, 25);
    text-shadow: 
    0 0 10px rgb(25, 175, 25),
    0 0 20px rgb(25, 175, 25),
    0 0 40px rgb(25, 175, 25);
}
.desaprobado{
color: red;
}
.desaprobado:hover {
    cursor: default;
    color: red;
    text-shadow: 
    0 0 10px red,
    0 0 20px red,
    0 0 40px red;
}
